        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CFWQG4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

<div class="container sub-page directions-page">
    <h1>Directions</h1>
    
    <div id="simple-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3087.631545083568!2d-76.60646508477829!3d39.29660577951098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8048f6264945f%3A0x423340fda3926ce3!2sThe%20Nevermore%20Haunt!5e0!3m2!1sen!2sus!4v1570764542995!5m2!1sen!2sus"  frameborder="0" style="border:0;" allowfullscreen="" class="mapiframe"></iframe></div>
    <div class="written-directions">
    <br>
        <h2>Parking</h2>
        <p>Free parking is available at 450 Mott St. Baltimore, MD</p>
    
        <h2>From I-95 South</h2>
            <ul>
                <li><p>Take 95 North to Exit 53 for 395 N toward Downtown/Inner Harbor</p></li>
                <li><p>Turn right onto Conway St.</p></li>
                <li><p>Make a left onto Light St.</p></li>
                <li><p>Make a right onto Pratt St.</p></li>
                <li><p>Left on Gay St.</p></li>
                <li><p>Continue straight on Ensor St.</p></li>
                <li><p>Turn right on Ensor St.</p></li>
                <li><p>Parking is on your right</p></li>
            </ul>
    
            <h2>From I-95 North</h2>
            <ul>
                <li><p>Take 95 South exit 62 for Moravia Rd/895 S toward Baltimore Harbor Tunnel </p></li>
                <li><p>Keep left at the fork to continue toward Moravia Rd</p></li>
                <li><p>Make a left onto Light St.</p></li>
                <li><p>Turn left onto Moravia Rd</p></li>
                <li><p>Use the right lane to take the ramp onto US-40 W</p></li>
                <li><p>Merge onto US-40 W</p></li>
                <li><p>Turn right at Colvin St</p></li>
                <li><p>Turn right at Colvin St</p></li>
                <li><p>Turn right on Mott St</p></li>
            </ul>
    
        <h2>From I-83</h2>
            <ul>
                <li><p>Take 83 South towards Baltimore</p></li>
                <li><p>Take exit 3 for Guilford Avenue</p></li>
                <li><p>Turn left onto E Centre St</p></li>
                <li><p>Continue onto E Monument St</p></li>
                <li><p>Turn right onto Hillen St</p></li>
                <li><p>Turn left onto Mott St</p></li>
            </ul>
    </div>

</div>


<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2>THE NEVERMORE HAUNT IS NOT FOR THE FAINT OF HEART. CHILDREN UNDER 4 FEET TALL WILL NOT BE ADMITTED, CHILDREN UNDER 16 MAY ENTER ONLY WITH AN ADULT GUARDIAN. READ THE RULES AND WARNINGS BEFORE PURCHASING YOUR TICKET. ALL SALES ARE FINAL.</h2>
</div>
<br><br>

<div class="container seo-blurb">
    <h1>Baltimore, Maryland's Scariest Haunted House</h1>
    <h2>THE MOST UNIQUE AND SCARIEST HAUNTED HOUSE IN MARYLAND</h2>
    <p>Consistently among the highest rated haunted houses in Maryland, The Nevermore Haunt is a haunted attraction unlike any other you’ve ever experienced. Open 15 nights in October, The Nevermore Haunt offers bizarre and over-the-top sideshow performances nightly, an on-site bar serving local craft beers, on site concessions and a haunted house filled with monsters, demons, and ghouls straight from your deepest, darkest fears. Expertly crafted, The Nevermore Haunt is an ever changing and developing Halloween attraction that transports you directly into sordid, macabre visions of Baltimore’s past. Come experience the most realistic and unique haunted house in Baltimore.</p>
    <br><br>
    <h2>A MARYLAND HAUNTED HOUSE UNLIKE ANY OTHER</h2>
    <p>Ever think to yourself, “Why are all the haunted houses near me exactly the same?” Not here! Historically themed and Baltimore inspired, The Nevermore Haunt is unlike any of the other haunted houses in Maryland. Located in the heart of Baltimore Maryland, this unique event takes its inspiration from the city’s own sordid, dark past. Set in late 19th century Baltimore you’ll encounter a macabre menagerie of specters and spirits; drowned sailors, tortured factory workers, unlicensed physicians, street urchins and mysterious creatures that defy description! With an emphasis on interactive performance and immersive sets The Nevermore Haunt strives to create a Halloween event that is equal parts terrifying and entertaining for all guests. Perfect for those trembling in terror at the mere thought of entering to the most courageous, unflinching haunted house aficionados. The Nevermore Haunt is a truly Baltimore haunted house.</p>
    <br><br>
    <h2>THE MOST CONVENIENTLY LOCATED HAUNTED HOUSE IN MARYLAND</h2>
    <p>This October Baltimore is THE place to get your Halloween thrills. Where else can you visit Maryland’s scariest haunted house, see bizarre sideshow performers, eat great food and drink local craft beers without driving for hours? Located near the heart of downtown Baltimore, The Nevermore Haunt is easily accessible from I-83, I-95.</p>
</div>

