

<div class="container sub-page">

    <h1>Attractions</h1>
    <br><br>

    <div class="row">
        <div class="col-4">
            <div class="card-container">
                <div class="card">
                    <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
                    <div class="side back">Jimmy Eat World</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-container">
                <div class="card">
                    <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
                    <div class="side back">Jimmy Eat World</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-container">
                <div class="card">
                    <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
                    <div class="side back">Jimmy Eat World</div>
                </div>
            </div>
        </div>

    </div>
</div>

<br><br>
<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>
<br><br>

    <div class="container seo-blurb">
        <h1>Baltimore, Maryland's Scariest Haunted House</h1>
        <h2>THE MOST UNIQUE AND SCARIEST HAUNTED HOUSE IN MARYLAND</h2>
        <p>Consistently among the highest rated haunted houses in Maryland, The Nevermore Haunt is a
            haunted attraction unlike any other you’ve ever experienced. Open 16 nights in October, The
            Nevermore Haunt offers bizarre and over-the-top sideshow performances nightly, on-site bar
            serving local craft beers, gourmet food trucks and a haunted house filled with monsters,
            demons, and ghouls straight from your deepest, darkest fears. Expertly crafted and built from
            scratch, The Nevermore Haunt is an ever changing and developing Halloween attraction that
            transports you directly into sordid, macabre visions of Baltimore’s past. The most realistic and
            unique haunted house in Baltimore.</p>
        <br><br>
        <h2>A MARYLAND HAUNTED HOUSE UNLIKE ANY OTHER</h2>
        <p>Ever think to yourself, “Why are all the haunted houses near me exactly the same?” Not here!
            Historically themed and Baltimore inspired, The Nevermore Haunt is unlike any of the other
            haunted houses in Maryland you’ve ever visited. Located in the heart of Baltimore Maryland, our
            event takes its inspiration from the city’s own sordid, dark past. Set in late 19th century
            Baltimore you’ll encounter a macabre menagerie of specters and spirits; drowned sailors,
            tortured factory workers, unlicensed physicians, street urchins and mysterious creatures that
            defy description! With an emphasis on interactive performance and immersive sets we strive to
            create a Halloween event that is equal parts terrifying and entertaining for all our guests. From
            those trembling in terror at the mere thought of entering to the most courageous, unflinching
            haunted house aficionados. A truly Baltimore haunted house.</p>
        <br><br>
        <h2>ONE OF THE MOST CONVENIENTLY LOCATED HAUNTED HOUSES IN MARYLAND</h2>
        <p>This October Baltimore is THE place to get your Halloween thrills. Where else can you visit
            Maryland’s scariest haunted house, see bizarre sideshow performers, eat great food and drink
            local craft beers without driving for hours?
            Located near the heart of downtown Baltimore, The Nevermore Haunt is easily accessible via I-
            83, I-95 or by using our free private shuttle to and from historic and lively Fells Point. Catch the
            shuttle in front of Penny Black at the corner of Thames and S. Ann St.</p>
    </div>

