        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKHGLB7"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

<div class="container sub-page history-page">
    <div class="newspaper"></div>
    <h3>Old Town, Baltimore</h3>
    <p>In 1661 David Jones was the first European to settle in the region that would one day grow into the city of Baltimore, Maryland. He built his home on the banks of a stream that he named after himself, the Jones Falls. Over the course of the late 17th and early 18th centuries the Jones Falls provided power for mills and fresh drinking water for a growing population at the settlement known as Jonestown.<br><br>
On the west side of the Jones Falls a competing settlement called Baltimore Town was established. The two settlements grew alongside one another, as well as a third to the south known as Fell's Point, for many years. Eventually Baltimore Town grew to overshadow Jonestown and the later was incorporated into Baltimore Town  and was thereafter known as Old Town. A single bridge on Gay Street linked Old Town to the east with Baltimore Town to the west.</p>
    <div class="isaac"></div>
		   <h3>Isaac Benesch &amp; Sons</h3>
        <p>Blocks from this bridge, in 1866, a Jewish-German carpenter leased land in the bustling business district of Old Town. Between 1868 and 1882 Isaac Benesch annexed three adjoining properties for his growing furniture emporium; the combined lots and building currently home to The Nevermore Haunt.<br><br></p>

<p>Old Town in the late 19th Century was a diverse community, home to many Germans, Jews and Free African Americans. Isaac's Great House thrived and was well known throughout decades of segregation for serving all groups alike. Members of the Benesch family were even active in the movement to desegregate the city.<br><br>

In 1889 two of his sons were admitted as partners. Isaac Benesch and Sons' Great House grew to become one of the earliest and most prominent department stores in East Baltimore.</p>
    <div class="old-town-1"></div>
		   <h3>Old Town in Decline</h3>
			<p>Old Town saw many changes over the 20th century. The Jones Falls, lifeblood of the early community, was covered over; supplanted by I-83.  Cut-off from the growing downtown and West Baltimore markets Old Town fell into decline. Isaac Benesch and Sons was bought out and replaced by Kaufman's Department Store. In 1976 our portion of N. Gay Street, in an effort at revitalization, was made into a pedestrian street and refurbished with fountains, lights and amenities of a more modern design. By the 1990's Kaufman's too had shut its doors and the building lay vacant.</p>
		  <h3>The Nevermore Haunt</h3>
			<p>The old Kaufman's Store (previously Isaac Benesch and Sons) remained vacant until 2015 when it was acquired by Engineered Fear Productions (that's us!) in order to bring you The Nevermore Haunt. While our immediate goals are focused on  running a successful event here each October we hope that in the future we can be a part of bringing vitality back to this beautiful historic property and community.</p>
			<br><br>
<h3>Sources</h3>    
<p>The Carroll Museum - www.carrollmuseums.org<br>

Julie Saylor Sandhaus - Goucher College</p>
    </div>
    
</div>