/* line 7, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card-container {
  height: 22em;
  height: 22em;
  perspective: 600;
  position: relative;
  width: 100%;
  height: 320px;
}

/* line 16, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* line 23, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

/* line 32, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card .back {
  background: #7cc13c;
  color: black;
  padding: 20% 5%;
  text-align: center;
  transform: rotateY(180deg);
}

/* line 40, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card-col {
  padding: 10% 10%;
}

/* line 43, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card-row {
  margin-bottom: 10%;
}

/* line 46, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card-img {
  position: relative;
  width: 115%;
}

/* line 50, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card-mobile-caption {
  position: relative;
  background-color: black;
  margin-top: 12%;
}

/* line 56, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.card-mobile-caption p {
  color: #7cc13c;
}

/* line 60, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
.attractions-about {
  text-align: center;
  padding-bottom: 3%;
}

@media (min-width: 576px) {
  /* line 68, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-mobile-caption {
    margin-top: 8%;
  }

  /* line 71, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-container {
    height: 250px;
  }
}
@media (min-width: 768px) {
  /* line 80, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-container {
    cursor: pointer;
    height: 22em;
    perspective: 600;
    position: relative;
    width: 100%;
    height: 340px;
  }

  /* line 88, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }

  /* line 95, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card:hover {
    transform: rotateY(180deg);
  }

  /* line 98, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }

  /* line 106, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card .back {
    background: #7cc13c;
    color: black;
    padding: 20% 5%;
    text-align: center;
    transform: rotateY(180deg);
  }

  /* line 114, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-col {
    padding: 10% 10%;
  }

  /* line 117, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-row {
    margin-bottom: 10%;
  }

  /* line 120, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-mobile-caption {
    margin-top: 8%;
  }
}
@media (min-width: 992px) {
  /* line 127, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-col {
    padding: 0 1%;
  }

  /* line 130, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-mobile-caption {
    display: none;
  }

  /* line 133, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-container {
    height: 340px;
  }
}
@media (min-width: 1200px) {
  /* line 141, C:/Users/thomw/nevermore/app/assets/stylesheets/attractions.scss */
  .card-container {
    height: 400px;
  }
}
/* line 4, C:/Users/thomw/nevermore/app/assets/stylesheets/directions.scss */
.map-section {
  height: 30em;
}
/* line 4, C:/Users/thomw/nevermore/app/assets/stylesheets/faqs.scss */
.faq-page ul {
  list-style: none;
}

/* line 7, C:/Users/thomw/nevermore/app/assets/stylesheets/faqs.scss */
.faq-page li {
  color: whitesmoke;
  padding-top: 2%;
}

/* line 11, C:/Users/thomw/nevermore/app/assets/stylesheets/faqs.scss */
.faq-page h2 {
  color: #666666;
  padding-top: 1%;
}
/* line 4, C:/Users/thomw/nevermore/app/assets/stylesheets/photos.scss */
.featured-photo {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  margin: 5% 0%;
  padding: 0;
}
/* line 1, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: black;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 14, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #CCCCCC;
  font-size: 2em;
}

/* line 20, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
h2 {
  text-transform: uppercase;
  color: #CCCCCC;
  font-size: 1.5em;
}

/* line 26, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* line 31, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
p {
  color: ghostwhite;
}

/* line 35, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 41, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 44, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 48, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #ff7033;
  text-decoration: none;
}

/* line 53, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 57, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 62, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 67, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 71, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 77, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 84, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 94, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 100, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 104, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.spooky-button {
  background-color: #813cc1;
  border-style: double;
  border-width: 5px;
  border-color: black;
}

/* line 110, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.spooky-button:hover {
  color: #7cc13c;
  background-color: black;
  border-color: black;
}

/* line 115, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.spooky-button:active {
  background-color: black !important;
  border-color: black !important;
}

/* line 119, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.spooky-button:focus {
  background-color: black !important;
  border-color: black !important;
  box-shadow: none !important;
}

/* line 124, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.spooky-button p {
  margin: 0;
}

/* line 127, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.section-heading {
  margin: 5% 0 3% 0;
  font-size: 3em;
  font-weight: 600;
}

/* line 132, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.page-footer {
  padding-top: 5%;
}

/* line 135, C:/Users/thomw/nevermore/app/assets/stylesheets/scaffolds.scss */
.sub-page {
  margin-top: 15%;
}
/* line 10, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.fixed-top {
  position: fixed;
}

/* line 13, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar {
  background: black;
  background: linear-gradient(180deg, black 47%, rgba(0, 0, 0, 0.4992867332) 72%, rgba(0, 0, 0, 0) 97%);
  margin: 0;
}

/* line 18, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-nav a {
  padding: 10% 0%;
  margin-right: 5%;
}

/* line 22, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.drop-nav-row {
  background: black;
  background: linear-gradient(90deg, black 2%, rgba(0, 0, 0, 0.4992867332) 25%, rgba(0, 0, 0, 0) 50%);
}

/* line 26, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.brand-col {
  text-align: center;
}

/* line 29, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar.col {
  padding: 0;
}

/* line 32, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-toggler {
  background-color: #7cc13c;
}

/* line 35, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-toggler:focus {
  outline: 0px !important;
}

/* line 39, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav {
  margin: 2% 8% 0% 8%;
  padding: 0 0 0 0;
}
/* line 42, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav .navbar-brand {
  font-size: 30px;
}
/* line 43, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav .navbar-toggle {
  margin: 0 0 0 0;
}
/* line 46, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav a {
  color: ghostwhite;
  font-size: 16px;
  transition: all 0.3s ease;
}
/* line 51, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav a:hover {
  color: #7cc13c;
}
/* line 54, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav a:active {
  color: #7cc13c;
}

/* line 59, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-nav {
  color: white;
  text-transform: uppercase;
}

/* line 63, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}

/* line 66, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-logo {
  width: 100%;
}

/* line 69, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.navbar-brand {
  width: 75%;
  margin: 0 11%;
}

/* line 74, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar.shrink {
  background-color: black, 0.5;
  margin: 0 0% 0 0%;
  padding: 0 3.5% 0 3.5%;
  min-height: 35px;
}
/* line 79, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar.shrink .logoline {
  font-size: 20px;
}
/* line 80, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar.shrink a {
  font-size: 14px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
/* line 85, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar.shrink .navbar-toggle {
  margin: 8% 15px 8px 0;
  padding: 4px 5px;
}
/* line 91, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar.shrink .navbar-brand {
  width: 50%;
  margin: 0 23%;
}
/* line 95, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
nav.navbar.shrink .navbar-toggler {
  margin-top: 10%;
}

/* line 99, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.page-content {
  padding: 5% 0 0 0;
}

/* line 106, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.notice {
  position: absolute;
}

/* line 109, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.alert {
  position: absolute;
}

/* line 115, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
video {
  width: 100%;
}

/* line 118, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
#player {
  display: none;
}

/* line 121, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
* {
  box-sizing: border-box;
}

/* line 124, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
#page-banner {
  text-align: center;
  position: relative;
  background-color: black;
  color: #ffffff;
  height: 98vw;
  /**! Confirm this works in all browsers**/
  overflow: hidden;
  margin-top: 15%;
}

/* line 133, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.bg-image {
  background-size: cover;
  background-position: center center;
}

/* line 137, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.overlay {
  position: relative;
  background-color: transparent;
  height: 84%;
  width: 100%;
  z-index: 2;
}

/* line 144, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.overlay-bottom {
  position: relative;
  background: black;
  background: linear-gradient(90deg, black 0%, #7cc13c 50%, black 100%);
  height: 50%;
  width: 100%;
  z-index: 2;
  display: none;
}

/* line 153, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.non-overlay-bottom {
  background: linear-gradient(90deg, black 0%, #7cc13c 50%, black 100%);
  text-align: center;
  padding: 1% 0;
}

/* line 158, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.inner {
  background-color: black;
  padding-top: 3.2%;
  padding-bottom: 3%;
}

/* line 163, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.video_wrap {
  /**height:100%;**/
  width: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  top: 0;
  padding-bottom: 56.5%;
}

/* line 172, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
iframe {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 180, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 185, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
#video-screen {
  background: rgba(76, 175, 80, 0.3);
  position: fixed;
  z-index: -98;
  width: 100%;
  height: 100%;
}

/* line 194, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.video-header-left {
  font-size: 1.5em;
  text-align: left;
  padding-left: 5%;
  text-shadow: 0 0 3px #7cc13c;
}

/* line 200, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.video-header-right {
  font-size: 1.5em;
  text-align: right;
  padding-right: 5%;
  text-shadow: 0 0 5px #7cc13c;
}

/* line 212, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.featured-on {
  vertical-align: middle;
}

/* line 215, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.featured-on h2 {
  text-align: center;
}

/* line 218, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.featured-on-logo {
  width: 100%;
  max-height: 8vw;
  margin: 0;
  padding: 5% 0;
}

/* line 226, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.tag-line {
  padding-top: 2%;
}

/* line 229, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.tag-line h1 {
  font-weight: 600;
  color: white;
  font-size: 1em;
}

/* line 234, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.tag-line i {
  display: none;
  font-size: 1em;
  padding: 0 1%;
}

/* line 239, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.social-icon a {
  color: white;
}

/* line 242, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.social-icon a:hover {
  color: black;
}

/* line 249, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.calendar-section {
  font-weight: 600;
  text-shadow: 2px 2px 10px black;
  background-image: url(scream.png);
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 8% 0 8% 0;
}

/* line 259, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.event-dates-header {
  font-size: 1.5em;
  line-height: 0;
}

/* line 264, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.event-dates {
  color: #7cc13c;
  font-size: 1.8em;
  line-height: 0;
}

/* line 270, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.event-dates h1 {
  color: #7cc13c;
  font-size: 2em;
}

/* line 277, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
#tickets {
  padding: 1% 10% 2% 10%;
  background: url(/assets/street-bg-1f2e6caf6e42f4fbe2b5b5efef114290e32b39abfd92537f1d8d29da9d2f8e22.jpg);
  background-size: cover;
}

/* line 282, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-row {
  border-style: none;
  background-color: black;
  opacity: 0.6;
  border-color: ghostwhite;
  margin-bottom: 4%;
}

/* line 289, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-chart {
  padding: 1.5px;
}

/* line 292, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-chart h2 {
  font-size: 1.6em;
  color: #7cc13c;
}

/* line 296, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-chart p {
  color: ghostwhite;
}

/* line 299, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-description {
  padding: 2%;
}

/* line 302, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-price {
  border-style: solid;
  border-color: ghostwhite;
  text-align: center;
}

/* line 307, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-price-underline {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* line 315, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-price-underline p {
  padding: 4% 0 4% 0;
  margin: 0;
  font-size: .8em;
}

/* line 320, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-price h2 {
  font-size: 3em;
  padding: 5%;
}

/* line 324, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-button {
  border: none;
  padding: 1% 2%;
  margin: 0% 0% 0% 2%;
}

/* line 329, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.ticket-button h2 {
  margin: 0;
  color: white;
  font-size: 1em;
}

/* line 338, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.admin-page {
  padding: 10% 20%;
  background-color: #ff7033;
}

/* line 345, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.contact-section {
  padding: 7% 12% 7% 12%;
}

/* line 348, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
#mc_embed_signup {
  background: #000;
  clear: left;
}

/* line 352, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
#mc_embed_signup p {
  color: white;
}

/* line 355, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
label {
  color: ghostwhite;
}

/* line 365, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.seo-blurb h2 {
  color: #7cc13c;
}

/* line 370, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.warning {
  padding: 2% 2% 2% 2%;
  background-color: #ff7033;
}

/* line 374, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.warning h1 {
  font-weight: 600;
  color: black;
}

/* line 378, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.warning h2 {
  color: black;
}

/* line 384, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.map {
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
}

/* line 392, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
.phrasable.phrasable-on:hover {
  background-color: green;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 399, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  #player {
    display: inherit;
  }

  /* line 402, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  #player-gif {
    display: none;
  }

  /* line 405, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  #page-banner {
    height: 55vw;
    margin-top: 5%;
  }
}
@media (min-width: 768px) {
  /* line 420, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  nav.navbar {
    background: black;
    background: linear-gradient(180deg, black 47%, rgba(0, 0, 0, 0.4992867332) 72%, rgba(0, 0, 0, 0) 97%);
    margin: 0;
  }

  /* line 425, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .drop-nav-row {
    background: none;
  }

  /* line 428, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line {
    padding-top: 1%;
  }

  /* line 431, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line h1 {
    font-weight: 600;
    color: white;
    font-size: 1.5em;
  }

  /* line 436, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line i {
    display: inherit;
    font-size: 1.5em;
    padding: 0 1%;
  }

  /* line 441, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  #page-banner {
    height: 55vw;
    margin-top: 5%;
  }
}
@media (min-width: 992px) {
  /* line 451, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .navbar-logo {
    width: 50%;
  }

  /* line 454, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .shrink .navbar-logo {
    display: none;
  }

  /* line 457, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .navbar-nav a {
    padding: 0;
  }

  /* line 460, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line {
    padding-top: 1%;
  }

  /* line 463, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line h1 {
    font-weight: 600;
    color: white;
    font-size: 2em;
  }

  /* line 468, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line i {
    display: inherit;
    font-size: 2em;
    padding: 0 1%;
  }

  /* line 473, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .ticket-price-underline p {
    font-size: 1.2em;
  }

  /* line 476, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .ticket-chart h2 {
    font-size: 2em;
  }

  /* line 479, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .ticket-button h2 {
    font-size: 1em;
  }

  /* line 482, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .ticket-price h2 {
    font-size: 3em;
  }

  /* line 485, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .calendar-section {
    padding: 1% 0 0% 0;
  }
}
@media (min-width: 1200px) {
  /* line 493, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line {
    padding-top: 1%;
  }

  /* line 496, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line h1 {
    font-weight: 600;
    color: white;
    font-size: 3em;
  }

  /* line 501, C:/Users/thomw/nevermore/app/assets/stylesheets/simple_pages.scss */
  .tag-line i {
    display: inherit;
    font-size: 3em;
    padding: 0 1%;
  }
}
/* line 5, C:/Users/thomw/nevermore/app/assets/stylesheets/users.scss */
.user-page {
  padding: 5% 25%;
  background-color: ghostwhite;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */



/* line 1, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble {
  webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: white;
  color: grey;
  border: 2px solid #EFEFEF;
  position: fixed;
  width: 130px;
  height: 135px;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 2, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble *, #phrasing-edit-mode-bubble *:after, #phrasing-edit-mode-bubble *:before {
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 23, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble p {
  line-height: 20px;
}
/* line 26, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble ::selection {
  color: grey;
  background: white;
}
/* line 28, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-edit-mode, #phrasing-edit-mode-bubble #phrasing-saved-status, #phrasing-edit-mode-bubble #phrasing-edit-all-phrases {
  height: 32px;
  margin-top: 10px;
}
/* line 33, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-edit-mode-headline p, #phrasing-edit-mode-bubble #phrasing-edit-all-phrases-headline p, #phrasing-edit-mode-bubble #phrasing-saved-status-headline p {
  display: inline;
}
/* line 38, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-edit-mode-headline {
  height: 30px;
  width: 45px;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 45, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-onoffswitch {
  float: left;
}
/* line 49, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 52, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox {
  display: none;
}
/* line 55, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
}
/* line 59, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
/* line 63, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:before, #phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 40px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
}
/* line 68, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:before {
  padding-left: 10px;
  background-color: #56AE45;
}
/* line 72, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:after {
  padding-right: 10px;
  background-color: #CCCCCC;
  text-align: right;
}
/* line 78, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-switch {
  width: 27px;
  margin: 0px;
  background: #FFFFFF;
  border: 3px solid #CCCCCC;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 92, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label {
  border: 2px solid #56AE45;
}
/* line 94, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
/* line 97, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  border: 3px solid #56AE45;
}
/* line 104, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-saved-status-headline {
  height: 30px;
  width: 45px;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 111, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-saved-status-indicator {
  float: left;
}
/* line 114, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-saved-status-indicator-circle {
  background-color: #56AE45;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
/* line 123, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-edit-all-phrases-headline {
  height: 30px;
  width: 45px;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 130, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-edit-all-phrases-icon-container {
  float: left;
}
/* line 132, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_fonts.scss */
#phrasing-edit-mode-bubble #phrasing-edit-all-phrases-icon-container .phrasing-edit-all-phrases-icon {
  margin-left: 10px;
  margin-top: 7px;
}

/* line 5, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble {
  webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: white;
  color: grey;
  border: 2px solid #EFEFEF;
  position: fixed;
  width: 130px;
  height: 135px;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 6, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble *, #phrasing-edit-mode-bubble *:after, #phrasing-edit-mode-bubble *:before {
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 27, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble p {
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/* line 32, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble ::selection {
  color: grey;
  background: white;
}
/* line 34, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-edit-mode, #phrasing-edit-mode-bubble #phrasing-saved-status, #phrasing-edit-mode-bubble #phrasing-edit-all-phrases {
  height: 32px;
  margin-top: 10px;
}
/* line 39, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-edit-mode-headline p, #phrasing-edit-mode-bubble #phrasing-edit-all-phrases-headline p, #phrasing-edit-mode-bubble #phrasing-saved-status-headline p {
  display: inline;
}
/* line 44, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-edit-mode-headline {
  height: 30px;
  width: 45px;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 51, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-onoffswitch {
  float: left;
}
/* line 55, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 58, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox {
  display: none;
}
/* line 61, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
}
/* line 65, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
/* line 69, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:before, #phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 40px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
}
/* line 74, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:before {
  padding-left: 10px;
  background-color: #56AE45;
}
/* line 78, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-inner:after {
  padding-right: 10px;
  background-color: #CCCCCC;
  text-align: right;
}
/* line 84, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-switch {
  width: 27px;
  margin: 0px;
  background: #FFFFFF;
  border: 3px solid #CCCCCC;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 98, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label {
  border: 2px solid #56AE45;
}
/* line 100, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
/* line 103, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  border: 3px solid #56AE45;
}
/* line 110, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-saved-status-headline {
  height: 30px;
  width: 45px;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 117, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-saved-status-indicator {
  float: left;
}
/* line 120, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-saved-status-indicator-circle {
  background-color: #56AE45;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
/* line 129, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-edit-all-phrases-headline {
  height: 30px;
  width: 45px;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}
/* line 136, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-edit-all-phrases-icon-container {
  float: left;
}
/* line 138, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing_edit_mode_bubble.scss */
#phrasing-edit-mode-bubble #phrasing-edit-all-phrases-icon-container .phrasing-edit-all-phrases-icon {
  margin-left: 10px;
  margin-top: 7px;
}

@font-face {
  font-family: 'icomoon';
  src: url(/assets/icomoon-83f1baf5e101cda918ef1723a971cb9da74dde6b5d3b90acc07b194508b7009a.eot);
  src: url(/assets/icomoon-83f1baf5e101cda918ef1723a971cb9da74dde6b5d3b90acc07b194508b7009a.eot?#iefix) format("embedded-opentype"), url(/assets/icomoon-5e34bfdab7287646e1950d74802787fd95863577aa0fc4fa100950bac9a2d162.woff) format("woff"), url(/assets/icomoon-fdf2e1109cccf75250c88a5e2547f8a8896371e99d5169e01485c04ac7bd4573.ttf) format("truetype"), url(/assets/icomoon-9900d8223a4d99c4d35953983b66a449cb2df4a9471322db912f423299cfd771.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}
/*********************************************
 * BASE STYLES
 *********************************************/
/*html {
  overflow: hidden;
}*/
/* line 23, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.phrasable.phrasable-on {
  border-bottom: 1px dashed black;
}
/* line 26, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.phrasable.phrasable-on a {
  pointer-events: none;
  cursor: default;
}
/* line 31, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.phrasable.phrasable-on:focus {
  outline: none;
}
/* line 35, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.phrasable.phrasable-on:hover {
  background-color: #fffadc;
  cursor: pointer;
}
/* line 40, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.phrasable.phrasable-on.inverse {
  border-bottom: 1px dashed white;
}
/* line 43, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.phrasable.phrasable-on.inverse:hover {
  background-color: #333333;
}

/*blockquote {
  border-left: 4px solid deepskyblue;
  margin-left: -19px;
  padding-left: 15px;
  margin-right: 0px;
}*/
/* line 57, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
span.no-overflow {
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
}

/* Used by the ui bubble to stop wrapping */
/* line 65, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.lengthen {
  display: block;
  width: 300px;
  height: 100%;
}

/* line 71, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.useicons {
  -webkit-font-smoothing: antialiased;
  font-size: 20px !important;
  font-family: 'icomoon' !important;
}

/*.ui {
  position: fixed;
  padding: 20px;
  width: 65px;
  bottom: 0px;
  left: 0px;
  top: 0px;
}

.ui:hover button {
  opacity: 0.4;
}

.ui button:hover {
  opacity: 1;
}*/
/* line 94, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options button {
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  font-family: inherit;
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: inherit;
  opacity: 0.1;
  padding: 0px;
  height: 32px;
  width: 25px;
  border: 0px;
}

/*.quote {
  line-height: 60px !important;
  font-size: 49px !important;
}*/
/*********************************************
 * UI BUBBLE
 *********************************************/
/* line 123, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options {
  -webkit-transition: opacity 250ms, margin 250ms;
  -moz-transition: opacity 250ms, margin 250ms;
  -ms-transition: opacity 250ms, margin 250ms;
  -o-transition: opacity 250ms, margin 250ms;
  transition: opacity 250ms, margin 250ms;
  position: absolute;
  left: -999px;
  top: -999px;
  color: #fff;
  height: 0px;
  width: 0px;
  z-index: 5;
  margin-top: 5px;
  opacity: 0;
}
/* line 130, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options *, .text-options *:before, .text-options *:after {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* line 144, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options.fade {
  opacity: 0;
  margin-top: -5px;
}
/* line 149, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options.active {
  opacity: 1;
  margin-top: 0px;
}

/* line 156, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  border-radius: 5px;
  margin-left: -48px;
  margin-top: -46px;
  z-index: 1000;
  padding: 5px 4px 5px 5px;
  width: 96px;
  height: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 177, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options.url-mode {
  width: 275px;
  margin-left: -137px;
}
/* line 181, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options.url-mode .bold, .text-options .options.url-mode .options.url-mode .italic, .text-options .options.url-mode .options.url-mode .quote {
  width: 0px;
  overflow: hidden;
  margin-right: 0px;
  opacity: 0;
}
/* line 188, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options.url-mode input {
  border-left: 2px solid transparent;
  padding-right: 5px;
  padding-left: 5px;
  width: 236px;
}
/* line 196, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options .italic {
  font-style: italic;
}
/* line 199, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options .bold, .text-options .options .italic {
  line-height: normal;
}
/* line 203, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options button {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  float: left;
  width: 28px;
  opacity: 0.7;
  height: 30px;
  border-radius: 3px;
  margin-right: 1px;
  font-family: 'Lora', serif;
}
/* line 218, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options button.active {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
/* line 223, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options button:hover {
  opacity: 0.95;
}
/* line 228, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options input {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  outline: 0px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  width: 0px;
}
/* line 246, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.text-options .options:before {
  content: "";
  border-top: 5px solid rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  margin-left: -5px;
  bottom: -15px;
  height: 5px;
  width: 0px;
  left: 50%;
}

/* line 261, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/phrasing-4.2.1/app/assets/stylesheets/phrasing.scss */
.url {
  -webkit-font-smoothing: antialiased;
}
