        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CFWQG4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

<div class="container-fluid sub-page">
    <div class="hide-in-ie"><h1>Select a date to purchase</h1></div>
    <div class="show-in-ie"><h1>Click <a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times">HERE</a> to purchase tickets</h1></div>
 <div class="row" id="tickets-sub">
    <div class="col-12 col-lg-6">
        <div class="event-calendar">
        <h2>October - November, 2019</h2>
        <div class="cal-row row">
            <div class="cal-day col">
                <p>Sun</p>
            </div>
            <div class="cal-day col">
                <p>Mon</p>
            </div>
            <div class="cal-day col">
                <p>Tue</p>
            </div>
            <div class="cal-day col">
                <p>Wed</p>
            </div>
            <div class="cal-day col">
                <p>Thu</p>
            </div>
            <div class="cal-day col">
                <p>Fri</p>
            </div>
            <div class="cal-day col">
                <p>Sat</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-early"><p>4</p>
            </div>
            <div class="cal-col col col-early">
                <p>5</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-early">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552977" target="_blank">11</a></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552982" target="_blank">12</a></p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552978" target="_blank">18</a></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552983" target="_blank">19</a></p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col col-early">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552986" target="_blank">20</a></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-early">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552989" target="_blank">24</a></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552979" target="_blank">25</a></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552984" target="_blank">26</a></p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col col-early">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552987" target="_blank">27</a></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552990" target="_blank">31</a></p>
            </div>
            <div class="cal-col col col-late">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552980" target="_blank">1</a></p>
            </div>
            <div class="cal-col col col-early">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552985" target="_blank">2</a></p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col col-early">
                <p><a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times/552988" target="_blank">3</a></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row times-row">
            <div class="col times-col early-col">
                <p>7pm-10pm</p>
            </div>
            <div class="col times-col late-col">
                <p>7pm-Midnight</p>
            </div>
        </div>
    </div>
    </div>  
    
 
    

    <div class="col-12 col-lg-6">
        <br><br>
    <h2>Ticket Options &amp; Pricing</h2> <br>
      <div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>General Admission </h2>

                <p>General admission to The Nevermore Haunt</p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p>Thurs &amp; Sundays</p></div>
                <h2>$22</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><span class="friday"><p>Fridays</p></span></div>
                <h2>$25</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p>Sat &amp; Halloween</p></div>
                <h2>$30</h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>Fast Pass Admission</h2>

                <p>Skip to the front of the line with Fast Pass Admission</p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p>Thurs &amp; Sundays</p></div>
                <h2>$29</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><span class="friday"><p>Fridays</p></span></div>
                <h2>$32</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p>Sat &amp; Halloween</p></div>
                <h2>$40</h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>VIP Admission </h2>

                <p>VIP Admission to The Nevermore Haunt! Includes fast-pass admission, one drink from the bar and a food voucher</p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p>Thurs &amp; Sundays</p></div>
                <h2>$45</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><span class="friday"><p>Fridays</p></span></div>
                <h2>$48</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p>Sat &amp; Halloween</p></div>
                <h2>$56</h2>
            </div>
        </div>
    </div>
</div>

</div>

    
    
    </div>
     
     
 </div>
    
    


<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2>THE NEVERMORE HAUNT IS NOT FOR THE FAINT OF HEART. CHILDREN UNDER 4 FEET TALL WILL NOT BE ADMITTED, CHILDREN UNDER 16 MAY ENTER ONLY WITH AN ADULT GUARDIAN. READ THE RULES AND WARNINGS BEFORE PURCHASING YOUR TICKET. ALL SALES ARE FINAL.</h2>
</div>
<br><br>

<div class="container seo-blurb">
    <h1>Baltimore, Maryland's Scariest Haunted House</h1>
    <h2>THE MOST UNIQUE AND SCARIEST HAUNTED HOUSE IN MARYLAND</h2>
    <p>Consistently among the highest rated haunted houses in Maryland, The Nevermore Haunt is a haunted attraction unlike any other you’ve ever experienced. Open 15 nights in October, The Nevermore Haunt offers bizarre and over-the-top sideshow performances nightly, an on-site bar serving local craft beers, on site concessions and a haunted house filled with monsters, demons, and ghouls straight from your deepest, darkest fears. Expertly crafted, The Nevermore Haunt is an ever changing and developing Halloween attraction that transports you directly into sordid, macabre visions of Baltimore’s past. Come experience the most realistic and unique haunted house in Baltimore.</p>
    <br><br>
    <h2>A MARYLAND HAUNTED HOUSE UNLIKE ANY OTHER</h2>
    <p>Ever think to yourself, “Why are all the haunted houses near me exactly the same?” Not here! Historically themed and Baltimore inspired, The Nevermore Haunt is unlike any of the other haunted houses in Maryland. Located in the heart of Baltimore Maryland, this unique event takes its inspiration from the city’s own sordid, dark past. Set in late 19th century Baltimore you’ll encounter a macabre menagerie of specters and spirits; drowned sailors, tortured factory workers, unlicensed physicians, street urchins and mysterious creatures that defy description! With an emphasis on interactive performance and immersive sets The Nevermore Haunt strives to create a Halloween event that is equal parts terrifying and entertaining for all guests. Perfect for those trembling in terror at the mere thought of entering to the most courageous, unflinching haunted house aficionados. The Nevermore Haunt is a truly Baltimore haunted house.</p>
    <br><br>
    <h2>THE MOST CONVENIENTLY LOCATED HAUNTED HOUSE IN MARYLAND</h2>
    <p>This October Baltimore is THE place to get your Halloween thrills. Where else can you visit Maryland’s scariest haunted house, see bizarre sideshow performers, eat great food and drink local craft beers without driving for hours? Located near the heart of downtown Baltimore, The Nevermore Haunt is easily accessible from I-83, I-95.</p>
</div>

