// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Attractions //

.card-container {
  height: 22em;
  height: 22em;
  perspective: 600;
  position: relative;
  width: 100%;
  height: 320px;

}
.card {
  height: 100%;
  position: absolute;
  width: 100%;
}
.card:hover {
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: black;
}
.card .back {
  background: #7cc13c;
  color: black;
  padding: 20% 5%;
  text-align: center;
  transform: rotateY(180deg);
}

.card-col {
    padding: 10% 10%;
}
.card-col h2 {
    font-size: 1.5em;
}
.card-row {
    display: none;
    margin-bottom: 10%;
}
.card-img {
    position: relative;
    width: 115%;
}
.card-mobile-caption {
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0%;
}
.card-mobile-caption p {
    color: black;
    background-color: #7cc13c;
    padding: 2% 2% 4% 2%;
    margin: 0 12.05%;
    font-weight: 800;
}
.card-row-mobile {
    .card-col {
        background-color: black;
        text-align: center;
        margin: 10% 0%;
        padding: 0;
    }
    img {
        width: 76%;
        border-style: solid;
        border-width: 5px;
        border-color: #7cc13c;
    }
    h2 {
        font-size: 2em;
    }
}
.attractions-about {
    text-align: center;
    padding-bottom: 3%;
}
//******** MEDIA QUERIES******** //

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .card-mobile-caption {
    }
    .card-container {
        height: 250px;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    .card-container {
      cursor: pointer;
      height: 22em;
      perspective: 600;
      position: relative;
      width: 100%;
      height: 340px;
      }
    .card {
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 1s ease-in-out;
      width: 100%;
    }
    .card:hover {
      transform: rotateY(180deg);
    }
    .card .side {
      backface-visibility: hidden;
      border-radius: 6px;
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 100%;
    }
    .card .back {
      background: #7cc13c;
      color: black;
      padding: 20% 5%;
      text-align: center;
      transform: rotateY(180deg);
    }

    .card-col {
        padding: 10% 10%;
    }
    .card-row {
        margin-bottom: 10%;
    }
    .card-mobile-caption {
        margin-top: 8%;
    }
    .card-row {
        display: -webkit-box;
    }
    .card-row-mobile {
        display: none;
    }
        .card-col {
    padding: 0 1%;
    }
    .card-mobile-caption {
        display: none;
    }
    .card-container {
        height: 250px;
    }
    .card-col h2 {
    font-size: 1.2em;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-col {
    padding: 0 1%;
    }
    .card-mobile-caption {
        display: none;
    }
    .card-container {
        height: 340px;
    }
        .card-col h2 {
    font-size: 1.5em;
}


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
        .card-container {
        height: 400px;
    }
}