// Place all the styles related to the directions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.written-directions {
    background-image: url(pajama-tall-bg.jpg);
    background-size: cover;
}
.map-section {
    height: 30em;
}
.directions-page ul{
    list-style: none;
}

#map {
  height: 300px;
  width: 100%;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #map {
    height: 400px;
    width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}