// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.faq-page ul {
    list-style: circle;
}
.faq-page li {
    color: whitesmoke;
    padding-top: 2%;
}
.faq-page h2 {
    color: #666666;
    padding-top: 1%;
}