// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newspaper {
    background-image: url(newspaper.jpg);
    height: 32vw;
    background-size: cover;
    margin-bottom: 2%;
}

.history-page h3 {
    color: #7cc13c;
}

.isaac {
    background-image: url(isaac.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    height:40vw;
    width: 50%;
    margin: 0 25% 0 25%;
}
.old-town-1 {
    background-image: url(old_town_mall_1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    height:30vw;
    width: 50%;
    margin: 0 25%;
}