// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.featured-photo {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    margin: 5% 0%;
    padding: 0;
}