body {
  background-color: black;
  color: #333;
  margin: 33px;
  font-family: 'IM Fell English', serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4 {
  font-family: 'IM Fell English', serif;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    color: #CCCCCC;
    font-size: 2em;
}
h2 {
    text-transform: capitalize;
    color: #CCCCCC;
    font-size: 1.5em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
p {
    color: ghostwhite;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #ff7033;
    text-decoration: none;
  }
}
th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.spooky-button {
    background-color: #813cc1;
    border-style: double;
    border-width: 5px;
    border-color: black;
}
.spooky-button:hover {
    color: #7cc13c;
    background-color: black;
    border-color: black;
}
.spooky-button:active {
    background-color: black !important;
    border-color: black !important;
}
.spooky-button:focus {
    background-color: black !important;
    border-color: black !important;
    box-shadow: none !important;
}
.spooky-button p {
    margin: 0;
}
.section-heading {
    margin: 5% 0 3% 0;
    font-size: 3em;
    font-weight: 600;
}
.page-footer {
    padding-top: 5%;
}
.page-footer a:not([href]):not([tabindex]) {
    color: #7cc13c;
    font-size: 1.75em;
    text-decoration: underline;
    cursor: pointer;
}
.sub-page {
    margin-top: 15%;
}
button:focus{
    outline: 0px;
}
.btn:active {
    background-color: black;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle:active {
    background: none;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}